<!--The content below is only a placeholder and can be replaced.-->

<div class="login-card">
  <form class="form-signin"><span class="reauth-email"> </span>
    <input class="form-control" type="email" required placeholder="Usuario" autofocus id="inputEmail" name= "usuario"/>
    <input class="form-control" type="password" required placeholder="Contraseña" id="inputPassword" name= "contraseña"/>
    <div class="checkbox">
      <div class="checkbox">
        <label>
          <input type="checkbox" />Recordar contraseña
        </label>
      </div>
    </div>
    <button class="btn btn-primary btn-block btn-lg btn-signin" type="submit" (click)="login()">Iniciar secion</button>
  </form>

</div>